:root {
    --lavender-color: #a586fb;
    --purple-color: #989dfa;
    --black-color: #181818;
    --gray-color: #bbb;
    --gray-border-color: #3d3d3d;
    --gray-tile-color: #1c1c1c;
    --white-color: #FFFF;
    
    --font-size-sm: 1rem;     /* 16px */
    --font-size-md: 1.125rem; /* 18px */
    --font-size-text: 1.3rem; /* 21px */
    --font-size-lg: 1.5rem;   /* 24px */
    --font-size-headers: 1.75rem;   /* 28px */
    --font-size-xl: 2rem;     /* 32px */
    --font-size-xxl: 3rem;    /* 48px */
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding is included in width */
}
body {
    background-color: var(--black-color); /* This is a light grey color */
    font-family: "Kanit", serif;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: var(--gray-color);
}
html {
    scroll-behavior: smooth;
}

h2 {
    font-size: var(--font-size-xl);
    color: var(--white-color);
    margin-bottom: 10px;
    padding-top: 15px;
}

.section-divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0px 45px 0px; /* Space above and below the divider */
}

.line {
    width: 100%; /* Full-width horizontal line */
    border: none;
    border-top: 1px solid var(--gray-border-color); /* Style the line */
    position: relative;
    z-index: 1;
}

.icon {
    position: absolute;
    z-index: 2;
    background-color: var(--gray-border-color);
    padding: 2px; /* Space around the icon for separation */
    border-radius: 50%; /* Make the icon's background perfectly round */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for better visibility */
    max-width: 40px; /* Adjust size of the logo */
    max-height: 40px; /* Keep proportions consistent */
}


.navbar {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid var(--gray-border-color);
}
.navbar-logo {
    height: 40px;
    display: flex;
    align-items: center;
}
.navbar-logo img {
    height: 40px;
    line-height: 34px; /* Ensure the logo has the same line height as the text */
}
.navbar-logo-text {
    font-size: var(--font-size-lg);
    font-weight: 500;
    margin-left: 10px;
    color: var(--white-color);
}

.hamburger {
    display: none; /* The hamburger icon is hidden by default */
    font-size: 34px; /* Icon size */
    cursor: pointer;
    background: none;
    border: none;
}
.hamburger i {
    color: var(--white-color);
}
/* Optional: Add a transition for the transform */
.hamburger, .hamburger::before {
    transition: transform 0.3s, content 0.3s;
}

.no-scroll {
    overflow: hidden; /* Prevent scrolling on the body */
    height: 100%; /* Setting height to 100% can help enforce no-scrolling in some cases */
    width: 100%; /* This can also help enforce no-scrolling */
    position: fixed; /* Lock the position */
}
.navbar-nav {
    list-style: none;
    display: flex;
    z-index: 1000;
}
.navbar-nav li {
    padding: 0 15px;
    font-size: var(--font-size-text);
}

.navbar-nav a {
    text-decoration: none;
    color: var(--gray-color); 
    font-weight: 500;
    text-decoration: none;
    transition: font-weight 0.1s ease, border-bottom 0.1s ease, letter-spacing 0.1s ease;
    /* Initial border-bottom is transparent to prevent layout shift */
    border-bottom: 3px solid transparent;
}

.navbar-nav a:hover,
.navbar-nav a:focus { /* focus is for accessibility */
    /*font-weight: 700; */
    color: var(--lavender-color); /* Your chosen color for the underline */
}

.content-wrapper {
    position: relative;
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}

.welcome-section {
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.welcome-container {
    flex: 4; /* Make it take up equal space as its sibling */
    padding-right: 20px; /* Add spacing between text and image */
    text-align: left;
    line-height: 1.5; /* Adjust this value as needed */
}
.welcome-container h1 {
    color: var(--white-color);
    font-size: var(--font-size-xxl);
    margin-bottom: 30px;
}
.welcome-container p {
    font-size: var(--font-size-text);
}
.welcome-picture {
    flex: 2; /* Equal space for the picture section */
    display: flex; /* Allow image to center */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}
.welcome-picture img {
    max-width: 100%; /* Ensure the image fits its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 8px; /* Optional: round the corners */
}

.cv {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--gray-tile-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cv h2 {
    text-align: center;
}

.cv p {
    margin: 15px 0;
    line-height: 1.7;
}

.cv strong {
    color: var(--purple-color);
    font-size: var(--font-size-md);
    font-weight: 400;
}


.passions {
    text-align: left;
}
.passions p {
    margin-bottom: 15px;
    font-size: var(--font-size-md);
}

.float-image {
    float: left; /* Obrázek zarovnaný vlevo */
    width: 40%; /* Přizpůsob velikost (můžeš upravit) */
    max-width: 400px;
    margin: 0 20px 20px 0; /* Mezera kolem obrázku */
    border-radius: 10px; /* Zaoblené rohy */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Jemný stín pro lepší vzhled */
}

.passions p {
    text-align: justify; /* Zarovnání textu pro hezké obtékání */
    line-height: 1.6; /* Lepší čitelnost textu */
}

.text-content {
    flex: 1;
}

.projects {
    text-align: left;
}
.projects p {
    margin-bottom: 15px;
    font-size: var(--font-size-md);
}
.projects-text {
    font-size: var(--font-size-text);
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 0 0px;
}
.project-card {
    background-color: var(--gray-tile-color);
    padding: 30px;
    border-radius: 8px;
    transition: transform 0.2s ease;
}
.project-card h3 {
    font-size: var(--font-size-md);
    color: #aaa;
    margin-bottom: 10px;
}
.project-title {
    font-size: var(--font-size-lg);
    color: var(--purple-color);
    text-decoration: none;
}
.project-title:hover {
    text-decoration: underline;
}
.project-links {
    margin-top: 10px;
}
.project-links .btn {
    /*display: inline-block;*/
    display: none;
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
    border-radius: 5px;
    background-color: #333;
    color: var(--white-color);
    text-decoration: none;
    font-size: var(--font-size-md);
    transition: background-color 0.2s ease;
}
.project-links .btn:hover {
    background-color: #555;
}

.contact {
    margin: 40px 0px 0px 0px;
    text-align: center;
}

.footer-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto 30px auto;
}
.footer-social img {
    width: 32px;
    height: 32px;
}
.footer-social a {
    text-decoration: none;
    margin: 0 15px;
}
.footer-social a:hover {
    opacity: 0.7; /* Slight fade effect on hover */
}

/* Mobile Adjustments */
@media (max-width: 768px) {
    :root {
        --font-size-md: 1rem; /* 18px */
        --font-size-text: 1.125rem; /* 21px */
        --font-size-lg: 1.3rem;   /* 24px */
        --font-size-headers: 1.5rem;   /* 28px */
        --font-size-xl: 1.75rem;     /* 32px */
        --font-size-xxl: 2rem;    /* 48px */
    }
    .navbar-nav {
        margin-top: 60px;
        position: fixed; /* Position the navbar */
        top: 0; /* Align to the top */
        left: -100%; /* Start off-screen to the left */
        width: 100%; /* Width of the sidebar menu */
        height: 100%; /* Full height */
        flex-direction: column; /* Stack the items vertically */
        overflow-y: auto; /* Enable scrolling if content is taller than screen */
        transition: left 0.3s; /* Smoothly transition the left value */
        padding-top: 0px; /* Adjust based on your site's header height */
        border-top: var(--gray-border-color) solid 1px;
        background-color: var(--black-color); /* Background color for the navbar */
        /* Rest of your mobile styling for navbar-nav */
    }

    body.no-scroll {
        height: 100%;
        overflow: hidden;
    }

    .hamburger {
        display: block; /* Show the hamburger icon on mobile */
    }

    /* When the 'active' class is added to 'navbar-nav' */
    .navbar-nav.active {
        left: 0; /* Slide in to be fully visible */
    }

    .navbar-nav li {
        padding: 12px 20px; /* Spacing for the menu items */
        border-bottom: 1px solid var(--gray-border-color); /* Optional: add a separator between items */
    }

    .navbar-nav li a {
         /*color: #333; Text color for the links */
        /* Rest of your link styles */
    }

    .welcome-text {
        padding: 10px 20px 20px 20px;
    }

    .float-image {
        width: 50%;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {

    :root {
        --font-size-md: 1rem; /* 18px */
        --font-size-text: 1.125rem; /* 21px */
        --font-size-lg: 1.3rem;   /* 24px */
        --font-size-headers: 1.5rem;   /* 28px */
        --font-size-xl: 1.75rem;     /* 32px */
        --font-size-xxl: 2rem;    /* 48px */
    }

    .hamburger {
        font-size: 27px; /* Icon size */
    }

    .section-divider {
        margin: 40px 0;
    }
    .icon {
        max-width: 30px;
        max-height: 30px;
    }
    .welcome-section {
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 0px 0px 0px;
    }

    .welcome-container {
        padding-right: 0px;
    }
    
    .welcome-picture {
        width: 100%;
    }

    .float-image {
        width: 100%;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    .site-footer {
        padding: 20px 10px; /* Adjust padding for mobile */
    }
    
    .footer-social {
        justify-content: center; /* Center content on mobile */
    }

    .footer-social a {
        margin: 15px 10px 0px 10px; /* Less margin for smaller screens */
    }
}
