:root {
    --lavender-color: #a586fb;
    --purple-color: #989dfa;
    --black-color: #181818;
    --gray-color: #bbb;
    --white-color: #FFFF;
    --font-size-mobiles: 1.1em;
}
h1 {
    color: var(--white-color);
}
h2 {
    font-size: 2.5em;
}
body {
    background-color: var(--black-color); /* This is a light grey color */
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em; /* TODO */
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}
.navbar-logo {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none; /* The hamburger icon is hidden by default */
    font-size: 34px; /* Icon size */
    cursor: pointer;
    background: none;
    border: none;
}
.hamburger i {
    color: var(--white-color);
}
/* Optional: Add a transition for the transform */
.hamburger, .hamburger::before {
    transition: transform 0.3s, content 0.3s;
}

.no-scroll {
    overflow: hidden; /* Prevent scrolling on the body */
    height: 100%; /* Setting height to 100% can help enforce no-scrolling in some cases */
    width: 100%; /* This can also help enforce no-scrolling */
    position: fixed; /* Lock the position */
}

.navbar-logo img {
    margin-left: 2px; /* Space between text and image */
    height: 34px;
}
.navbar-nav {
    list-style: none;
    display: flex;
    z-index: 1000;
}
.navbar-nav li {
    padding: 0 15px;
    font-size: 25px;
}

.navbar-nav a {
    text-decoration: none;
    color: var(--gray-color); 
    font-weight: 500;
    text-decoration: none;
    transition: font-weight 0.1s ease, border-bottom 0.1s ease, letter-spacing 0.1s ease;
    /* Initial border-bottom is transparent to prevent layout shift */
    border-bottom: 3px solid transparent;
}

.navbar-nav a:hover,
.navbar-nav a:focus { /* focus is for accessibility */
    /*font-weight: 700; */
    border-bottom: 3px solid var(--white-color); /* Your chosen color for the underline */
}

.content-wrapper {
    position: relative;
    max-width: 1920px;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}

.welcome-section {
    display: flex;
    flex-direction: row;
    max-width: 600px; 
    align-items: center;
    text-align: left;
    padding: 0px 20px 20px 20px;
}

.welcome-container {
    color: var(--gray-color);
}

.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 20px;
    margin: 0;
    flex-wrap: wrap; /* Ensure content can wrap as needed */
}

.footer-logo {
    display: flex;
    color: var(--white-color); /* White color for the logo text */
}
.footer-logo img {
    margin-left: 2px; /* Space between text and image */
    height: 34px;
}

.footer-logo span {
    font-style: italic;
}

.footer-social {
    display: flex;
}

.footer-social a {
    color: var(--white-color); /* White color for the icons */
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px; /* Example size for social icons */
}

.footer-social a:hover {
    opacity: 0.7; /* Slight fade effect on hover */
}

.error-section {
    padding: 400px 0px;
    text-align: center;
    font-size: 40px;
}
/* PHONES */

@media (max-width: 768px) {
    .navbar-nav {
        margin-top: 60px;
        position: fixed; /* Position the navbar */
        top: 0; /* Align to the top */
        left: -100%; /* Start off-screen to the left */
        width: 80%; /* Width of the sidebar menu */
        height: 100%; /* Full height */
        flex-direction: column; /* Stack the items vertically */
        overflow-y: auto; /* Enable scrolling if content is taller than screen */
        transition: left 0.3s; /* Smoothly transition the left value */
        padding-top: 30px; /* Adjust based on your site's header height */
        border-top: #000 solid 2px;
        /* Rest of your mobile styling for navbar-nav */
    }

    .hamburger {
        display: block; /* Show the hamburger icon on mobile */
    }

    /* When the 'active' class is added to 'navbar-nav' */
    .navbar-nav.active {
        left: 0; /* Slide in to be fully visible */
    }

    .navbar-nav li {
        padding: 12px 20px; /* Spacing for the menu items */
        border-bottom: 1px solid #cccccc; /* Optional: add a separator between items */
    }

    .navbar-nav li a {
         /*color: #333; Text color for the links */
        /* Rest of your link styles */
    }

    .welcome-text {
        padding: 10px 20px 20px 20px;
    }
}

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
    .welcome-section {
        padding: 0px 00px 20px 0px;
    }

    .site-footer {
        padding: 20px 10px; /* Adjust padding for mobile */
    }
    
    .footer-logo,
    .footer-social {
        justify-content: center; /* Center content on mobile */
        flex: 1 0 100%; /* Forces logo to take full width on wrap */
    }

    .footer-social a {
        margin: 15px 10px 0px 10px; /* Less margin for smaller screens */
        font-size: 24px; /* Smaller icons on mobile */
    }
}
